@using Kundbolaget.Controllers
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    <link href="~/content/materialize/css/materialize.min.css" rel="stylesheet"/>
    <link href="~/content/materialize/css/materialize.css" rel="stylesheet"/>
    <link href="~/content/Styles.css" rel="stylesheet"/>
</head>
<body>

<header>
    @Html.Partial("_Navbar")
</header>
<main>
    @RenderBody()
</main>
<footer class="page-footer">
    @Html.Partial("_Footer")
</footer>
    <script src="~/Scripts/materialize/materialize.js"></script>
</body>
</html>