<nav>
    <div class="container">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Kundbolaget AB</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a>Produkter</a>
                </li>
                <li>
                    <a>Om Oss</a>
                </li>
                <li>
                    <a>Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>