<nav>
    <div class="container">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Kundbolaget AB</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a>Produkter</a>
                </li>
                <li>
                    <a>Om Oss</a>
                </li>
                <li>
                    <a>Login</a>
                </li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li>
                    <a>Produkter</a>
                </li>
                <li>
                    <a>Om Oss</a>
                </li>
                <li>
                    <a>Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>