/*Sticky footer*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main { flex: 1 0 auto; }
/*Sticky footer ends*/

.clickable {
    cursor: pointer;
}

.centeredColumn {
    text-align: center
}