
@{
    ViewBag.Title = "CustomerSite";
}

<h2>CustomerSite</h2>
@Html.ActionLink("Se sortiment", "Index", "CustomerProduct", null, new { @class = "waves-effect waves-light btn" })
@Html.ActionLink("Lägg beställning", "UploadJson", "File", null, new { @class = "waves-effect waves-light btn" })
