
@{
    ViewBag.Title = "CustomerSite";
}

<h4>Kundsida</h4>
<div>
    @Html.ActionLink("Tillbaka", "Index", null, new {@class = "blue btn"})
</div>
<h4></h4>
@Html.ActionLink("Se sortiment", "Index", "CustomerProduct", null, new { @class = "waves-effect waves-light btn" })
@Html.ActionLink("Lägg beställning", "UploadJson", "File", null, new { @class = "waves-effect waves-light btn" })
