
@{
    ViewBag.Title = "Index";
}

<h4>Välkommen till Nisses Kundbolag</h4>

@Html.ActionLink("Kundsida", "CustomerSite", "Home", null, new { @class = "waves-effect waves-light btn", style="margin-bottom:20px" })
@Html.ActionLink("Adminsida", "AdminManager", "Home", null, new { @class = "waves-effect waves-light btn", style = "margin-bottom:20px" })
@Html.ActionLink("Leverans", "Delivery", "Home", null, new { @class = "waves-effect waves-light btn", style = "margin-bottom:20px" })









