
@{
    ViewBag.Title = "Index";
}

<h4>Välkommen till Nisses Kundbolag</h4>

@Html.ActionLink("Kundsida", "CustomerSite", "Home", null, new { @class = "waves-effect waves-light btn" })
@Html.ActionLink("Adminsida", "AdminManager", "Home", null, new { @class = "waves-effect waves-light btn" })
@Html.ActionLink("Plocka order", "GetAllUnpickedOrders", "Order", null, new { @class = "waves-effect waves-light btn" })


