@model Kundbolaget.ViewModels.ErrorViewModel
<h4>Oj, något tycks ha gått fel...</h4>
<div>
    @Html.ActionLink("Tillbaka", "CustomerSite", "Home", null, new { @class = "blue btn" })
    <h4></h4>
    <p>@Model.Message</p>
</div>
