@model Kundbolaget.ViewModels.ErrorViewModel
@{
    ViewBag.Title = "OrderFileError";
}

<h4>Oj, något tycks ha gått fel...</h4>
<div>
    @Html.ActionLink("Tillbaka", "CustomerSite", "Home", null, new { @class = "orange-text" })
    <p>@Model.Message</p>
</div>
